<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztel.app.persist.mybatis.cost.VehiclePartCostVoMapper" >
  <resultMap id="BaseResultMap" type="com.ztel.app.vo.cost.VehiclePartCostVo" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="DID" property="did" jdbcType="DECIMAL" />
    <result column="PARTID" property="partid" jdbcType="VARCHAR" />
    <result column="PARTUNIT" property="partunit" jdbcType="VARCHAR" />
    <result column="PARTQTY" property="partqty" jdbcType="DECIMAL" />
    <result column="PARTUNITPRICE" property="partunitprice" jdbcType="DECIMAL" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="CREATEID" property="createid" jdbcType="DECIMAL" />
    <result column="CREATEDATE" property="createdate" jdbcType="TIMESTAMP" />
    <result column="ISREPEAT" property="isrepeat" jdbcType="VARCHAR" />
    <result column="ENDDATE" property="enddate" jdbcType="TIMESTAMP" />
    <result column="PARTPOST" property="partpost" jdbcType="VARCHAR" />
    <result column="VEHICLEID" property="vehicleid" jdbcType="DECIMAL" />
    <result column="ROUTECODE" property="routecode" jdbcType="VARCHAR" />
    <result column="PARTNAME" property="partname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DID, PARTID, PARTUNIT, PARTQTY, PARTUNITPRICE, AMOUNT, REMARKS, CREATEID, CREATEDATE, 
    ISREPEAT, ENDDATE, PARTPOST, VEHICLEID, ROUTECODE, PARTNAME
  </sql>
  <select id="getVehiclePartCostListByApplyId" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from T_COST_VEHICLEPARTCOST
    where DID = #{did,jdbcType=DECIMAL}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_COST_VEHICLEPARTCOST
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_COST_VEHICLEPARTCOST
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ztel.app.vo.cost.VehiclePartCostVo" >
    insert into T_COST_VEHICLEPARTCOST (ID, DID, PARTID, 
      PARTUNIT, PARTQTY, PARTUNITPRICE, 
      AMOUNT, REMARKS, CREATEID, 
      CREATEDATE, ISREPEAT, ENDDATE, 
      PARTPOST, VEHICLEID, ROUTECODE, 
      PARTNAME)
    values (#{id,jdbcType=DECIMAL}, #{did,jdbcType=DECIMAL}, #{partid,jdbcType=VARCHAR}, 
      #{partunit,jdbcType=VARCHAR}, #{partqty,jdbcType=DECIMAL}, #{partunitprice,jdbcType=DECIMAL}, 
      #{amount,jdbcType=DECIMAL}, #{remarks,jdbcType=VARCHAR}, #{createid,jdbcType=DECIMAL}, 
      #{createdate,jdbcType=TIMESTAMP}, #{isrepeat,jdbcType=VARCHAR}, #{enddate,jdbcType=TIMESTAMP}, 
      #{partpost,jdbcType=VARCHAR}, #{vehicleid,jdbcType=DECIMAL}, #{routecode,jdbcType=VARCHAR}, 
      #{partname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ztel.app.vo.cost.VehiclePartCostVo" useGeneratedKeys="false" >
    insert into T_COST_VEHICLEPARTCOST
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="did != null" >
        DID,
      </if>
      <if test="partid != null" >
        PARTID,
      </if>
      <if test="partunit != null" >
        PARTUNIT,
      </if>
      <if test="partqty != null" >
        PARTQTY,
      </if>
      <if test="partunitprice != null" >
        PARTUNITPRICE,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
      <if test="createid != null" >
        CREATEID,
      </if>
      <if test="createdate != null" >
        CREATEDATE,
      </if>
      <if test="isrepeat != null" >
        ISREPEAT,
      </if>
      <if test="enddate != null" >
        ENDDATE,
      </if>
      <if test="partpost != null" >
        PARTPOST,
      </if>
      <if test="vehicleid != null" >
        VEHICLEID,
      </if>
      <if test="routecode != null" >
        ROUTECODE,
      </if>
      <if test="partname != null" >
        PARTNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="did != null" >
        #{did,jdbcType=DECIMAL},
      </if>
      <if test="partid != null" >
        #{partid,jdbcType=VARCHAR},
      </if>
      <if test="partunit != null" >
        #{partunit,jdbcType=VARCHAR},
      </if>
      <if test="partqty != null" >
        #{partqty,jdbcType=DECIMAL},
      </if>
      <if test="partunitprice != null" >
        #{partunitprice,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createid != null" >
        #{createid,jdbcType=DECIMAL},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="isrepeat != null" >
        #{isrepeat,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="partpost != null" >
        #{partpost,jdbcType=VARCHAR},
      </if>
      <if test="vehicleid != null" >
        #{vehicleid,jdbcType=DECIMAL},
      </if>
      <if test="routecode != null" >
        #{routecode,jdbcType=VARCHAR},
      </if>
      <if test="partname != null" >
        #{partname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztel.app.vo.cost.VehiclePartCostVo" >
    update T_COST_VEHICLEPARTCOST
    <set >
      <if test="did != null" >
        DID = #{did,jdbcType=DECIMAL},
      </if>
      <if test="partid != null" >
        PARTID = #{partid,jdbcType=VARCHAR},
      </if>
      <if test="partunit != null" >
        PARTUNIT = #{partunit,jdbcType=VARCHAR},
      </if>
      <if test="partqty != null" >
        PARTQTY = #{partqty,jdbcType=DECIMAL},
      </if>
      <if test="partunitprice != null" >
        PARTUNITPRICE = #{partunitprice,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createid != null" >
        CREATEID = #{createid,jdbcType=DECIMAL},
      </if>
      <if test="createdate != null" >
        CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="isrepeat != null" >
        ISREPEAT = #{isrepeat,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null" >
        ENDDATE = #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="partpost != null" >
        PARTPOST = #{partpost,jdbcType=VARCHAR},
      </if>
      <if test="vehicleid != null" >
        VEHICLEID = #{vehicleid,jdbcType=DECIMAL},
      </if>
      <if test="routecode != null" >
        ROUTECODE = #{routecode,jdbcType=VARCHAR},
      </if>
      <if test="partname != null" >
        PARTNAME = #{partname,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztel.app.vo.cost.VehiclePartCostVo" >
    update T_COST_VEHICLEPARTCOST
    set DID = #{did,jdbcType=DECIMAL},
      PARTID = #{partid,jdbcType=VARCHAR},
      PARTUNIT = #{partunit,jdbcType=VARCHAR},
      PARTQTY = #{partqty,jdbcType=DECIMAL},
      PARTUNITPRICE = #{partunitprice,jdbcType=DECIMAL},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      CREATEID = #{createid,jdbcType=DECIMAL},
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      ISREPEAT = #{isrepeat,jdbcType=VARCHAR},
      ENDDATE = #{enddate,jdbcType=TIMESTAMP},
      PARTPOST = #{partpost,jdbcType=VARCHAR},
      VEHICLEID = #{vehicleid,jdbcType=DECIMAL},
      ROUTECODE = #{routecode,jdbcType=VARCHAR},
      PARTNAME = #{partname,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>