<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztel.app.persist.mybatis.sale.SaleitemVoMapper">
  <resultMap id="BaseResultMap" type="com.ztel.app.vo.sale.SaleitemVo">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="HELPCODE" jdbcType="VARCHAR" property="helpcode" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SNAME" jdbcType="VARCHAR" property="sname" />
    <result column="ITEMCLS_ID" jdbcType="DECIMAL" property="itemclsId" />
    <result column="UOM_ID" jdbcType="DECIMAL" property="uomId" />
    <result column="ABCCLASS" jdbcType="VARCHAR" property="abcclass" />
    <result column="ISKEYITEM" jdbcType="VARCHAR" property="iskeyitem" />
    <result column="SCALE" jdbcType="DECIMAL" property="scale" />
    <result column="SUPPLIER_ID" jdbcType="DECIMAL" property="supplierId" />
    <result column="BARCODE" jdbcType="VARCHAR" property="barcode" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="CREATEUSER" jdbcType="VARCHAR" property="createuser" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="MODIFYUSER" jdbcType="VARCHAR" property="modifyuser" />
    <result column="MODIFYTIME" jdbcType="TIMESTAMP" property="modifytime" />
    <result column="SPEC" jdbcType="VARCHAR" property="spec" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="MANUFACTORY" jdbcType="OTHER" property="manufactory" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ORG_CODE, CODE, HELPCODE, NAME, SNAME, ITEMCLS_ID, UOM_ID, ABCCLASS, ISKEYITEM, 
    SCALE, SUPPLIER_ID, BARCODE, STATUS, CREATEUSER, CREATETIME, MODIFYUSER, MODIFYTIME, 
    SPEC, TYPE, MANUFACTORY
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SALE_ITEM
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from T_SALE_ITEM
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ztel.app.vo.sale.SaleitemVo">
    insert into T_SALE_ITEM (ID, ORG_CODE, CODE, 
      HELPCODE, NAME, SNAME, 
      ITEMCLS_ID, UOM_ID, ABCCLASS, 
      ISKEYITEM, SCALE, SUPPLIER_ID, 
      BARCODE, STATUS, CREATEUSER, 
      CREATETIME, MODIFYUSER, MODIFYTIME, 
      SPEC, TYPE, MANUFACTORY
      )
    values (#{id,jdbcType=DECIMAL}, #{orgCode,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{helpcode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sname,jdbcType=VARCHAR}, 
      #{itemclsId,jdbcType=DECIMAL}, #{uomId,jdbcType=DECIMAL}, #{abcclass,jdbcType=VARCHAR}, 
      #{iskeyitem,jdbcType=VARCHAR}, #{scale,jdbcType=DECIMAL}, #{supplierId,jdbcType=DECIMAL}, 
      #{barcode,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, #{createuser,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{modifyuser,jdbcType=VARCHAR}, #{modifytime,jdbcType=TIMESTAMP}, 
      #{spec,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{manufactory,jdbcType=OTHER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ztel.app.vo.sale.SaleitemVo">
    insert into T_SALE_ITEM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="orgCode != null">
        ORG_CODE,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="helpcode != null">
        HELPCODE,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="sname != null">
        SNAME,
      </if>
      <if test="itemclsId != null">
        ITEMCLS_ID,
      </if>
      <if test="uomId != null">
        UOM_ID,
      </if>
      <if test="abcclass != null">
        ABCCLASS,
      </if>
      <if test="iskeyitem != null">
        ISKEYITEM,
      </if>
      <if test="scale != null">
        SCALE,
      </if>
      <if test="supplierId != null">
        SUPPLIER_ID,
      </if>
      <if test="barcode != null">
        BARCODE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createuser != null">
        CREATEUSER,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="modifyuser != null">
        MODIFYUSER,
      </if>
      <if test="modifytime != null">
        MODIFYTIME,
      </if>
      <if test="spec != null">
        SPEC,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="manufactory != null">
        MANUFACTORY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="orgCode != null">
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="helpcode != null">
        #{helpcode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sname != null">
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="itemclsId != null">
        #{itemclsId,jdbcType=DECIMAL},
      </if>
      <if test="uomId != null">
        #{uomId,jdbcType=DECIMAL},
      </if>
      <if test="abcclass != null">
        #{abcclass,jdbcType=VARCHAR},
      </if>
      <if test="iskeyitem != null">
        #{iskeyitem,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        #{scale,jdbcType=DECIMAL},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=DECIMAL},
      </if>
      <if test="barcode != null">
        #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyuser != null">
        #{modifyuser,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="spec != null">
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="manufactory != null">
        #{manufactory,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztel.app.vo.sale.SaleitemVo">
    update T_SALE_ITEM
    <set>
      <if test="orgCode != null">
        ORG_CODE = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="helpcode != null">
        HELPCODE = #{helpcode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sname != null">
        SNAME = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="itemclsId != null">
        ITEMCLS_ID = #{itemclsId,jdbcType=DECIMAL},
      </if>
      <if test="uomId != null">
        UOM_ID = #{uomId,jdbcType=DECIMAL},
      </if>
      <if test="abcclass != null">
        ABCCLASS = #{abcclass,jdbcType=VARCHAR},
      </if>
      <if test="iskeyitem != null">
        ISKEYITEM = #{iskeyitem,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        SCALE = #{scale,jdbcType=DECIMAL},
      </if>
      <if test="supplierId != null">
        SUPPLIER_ID = #{supplierId,jdbcType=DECIMAL},
      </if>
      <if test="barcode != null">
        BARCODE = #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="createuser != null">
        CREATEUSER = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyuser != null">
        MODIFYUSER = #{modifyuser,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="spec != null">
        SPEC = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="manufactory != null">
        MANUFACTORY = #{manufactory,jdbcType=OTHER},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztel.app.vo.sale.SaleitemVo">
    update T_SALE_ITEM
    set ORG_CODE = #{orgCode,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      HELPCODE = #{helpcode,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      SNAME = #{sname,jdbcType=VARCHAR},
      ITEMCLS_ID = #{itemclsId,jdbcType=DECIMAL},
      UOM_ID = #{uomId,jdbcType=DECIMAL},
      ABCCLASS = #{abcclass,jdbcType=VARCHAR},
      ISKEYITEM = #{iskeyitem,jdbcType=VARCHAR},
      SCALE = #{scale,jdbcType=DECIMAL},
      SUPPLIER_ID = #{supplierId,jdbcType=DECIMAL},
      BARCODE = #{barcode,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      CREATEUSER = #{createuser,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      MODIFYUSER = #{modifyuser,jdbcType=VARCHAR},
      MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP},
      SPEC = #{spec,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      MANUFACTORY = #{manufactory,jdbcType=OTHER}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
</mapper>