<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztel.app.persist.mybatis.sale.SaleitemVoMapper" >
  <resultMap id="BaseResultMap" type="com.ztel.app.vo.sale.SaleitemVo" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="DCNO" property="dcno" jdbcType="VARCHAR" />
    <result column="SHIPPER_ID" property="shipperId" jdbcType="DECIMAL" />
    <result column="ITEMNO" property="itemno" jdbcType="VARCHAR" />
    <result column="ITEMNAME" property="itemname" jdbcType="VARCHAR" />
    <result column="SHORTNAME" property="shortname" jdbcType="VARCHAR" />
    <result column="SPEC" property="spec" jdbcType="VARCHAR" />
    <result column="ABCCODE" property="abccode" jdbcType="VARCHAR" />
    <result column="ITEMPRICE" property="itemprice" jdbcType="DECIMAL" />
    <result column="SHIPTYPE" property="shiptype" jdbcType="CHAR" />
    <result column="ITEMTYPE_ID" property="itemtypeId" jdbcType="OTHER" />
    <result column="PRODUCEAREA" property="producearea" jdbcType="OTHER" />
    <result column="MANUFACTURER_ID" property="manufacturerId" jdbcType="VARCHAR" />
    <result column="VENDOR_ID" property="vendorId" jdbcType="DECIMAL" />
    <result column="BASEUOM_ID" property="baseuomId" jdbcType="VARCHAR" />
    <result column="DEFAULTUOM_ID" property="defaultuomId" jdbcType="VARCHAR" />
    <result column="STORAGECONDITION" property="storagecondition" jdbcType="VARCHAR" />
    <result column="ISLOTCTRL" property="islotctrl" jdbcType="DECIMAL" />
    <result column="SHELFLIFE" property="shelflife" jdbcType="DECIMAL" />
    <result column="SHELFLIFETYPE" property="shelflifetype" jdbcType="VARCHAR" />
    <result column="PALLETRATIO" property="palletratio" jdbcType="DECIMAL" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="CREATEUSER" property="createuser" jdbcType="VARCHAR" />
    <result column="MODIFYTIME" property="modifytime" jdbcType="TIMESTAMP" />
    <result column="MODIFYUSER" property="modifyuser" jdbcType="VARCHAR" />
    <result column="ROWSTATUS" property="rowstatus" jdbcType="DECIMAL" />
    <result column="CATID" property="catid" jdbcType="DECIMAL" />
    <result column="BIGBOX_BAR" property="bigboxBar" jdbcType="VARCHAR" />
    <result column="PACK_BAR" property="packBar" jdbcType="VARCHAR" />
    <result column="ITEM_KIND" property="itemKind" jdbcType="CHAR" />
    <result column="KIND" property="kind" jdbcType="CHAR" />
    <result column="H_SIZE" property="hSize" jdbcType="DECIMAL" />
    <result column="T_SIZE" property="tSize" jdbcType="DECIMAL" />
    <result column="J_SIZE" property="jSize" jdbcType="DECIMAL" />
    <result column="W_SIZE" property="wSize" jdbcType="DECIMAL" />
    <result column="X_SIZE" property="xSize" jdbcType="DECIMAL" />
    <result column="WEIGHT" property="weight" jdbcType="DECIMAL" />
    <result column="BASEUOM_NAME" property="baseuomName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DCNO, SHIPPER_ID, ITEMNO, ITEMNAME, SHORTNAME, SPEC, ABCCODE, ITEMPRICE, SHIPTYPE, 
    ITEMTYPE_ID, PRODUCEAREA, MANUFACTURER_ID, VENDOR_ID, BASEUOM_ID, DEFAULTUOM_ID, 
    STORAGECONDITION, ISLOTCTRL, SHELFLIFE, SHELFLIFETYPE, PALLETRATIO, CREATETIME, CREATEUSER, 
    MODIFYTIME, MODIFYUSER, ROWSTATUS, CATID, BIGBOX_BAR, PACK_BAR, ITEM_KIND, KIND, 
    H_SIZE, T_SIZE, J_SIZE, W_SIZE, X_SIZE, WEIGHT,BASEUOM_NAME
  </sql>
  
  <!-- 营销接口商品信息同步之前先全部置为删除状态 -->
  <update id="updateitemAllrowstatus" >
    update T_SALE_ITEM set rowstatus=0
    </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_SALE_ITEM
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_SALE_ITEM
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ztel.app.vo.sale.SaleitemVo" >
    insert into T_SALE_ITEM (ID, DCNO, SHIPPER_ID, 
      ITEMNO, ITEMNAME, SHORTNAME, 
      SPEC, ABCCODE, ITEMPRICE, 
      SHIPTYPE, ITEMTYPE_ID, PRODUCEAREA, 
      MANUFACTURER_ID, VENDOR_ID, BASEUOM_ID, 
      DEFAULTUOM_ID, STORAGECONDITION, ISLOTCTRL, 
      SHELFLIFE, SHELFLIFETYPE, PALLETRATIO, 
      CREATETIME, CREATEUSER, MODIFYTIME, 
      MODIFYUSER, ROWSTATUS, CATID, 
      BIGBOX_BAR, PACK_BAR, ITEM_KIND, 
      KIND, H_SIZE, T_SIZE, J_SIZE, 
      W_SIZE, X_SIZE, WEIGHT
      )
    values (#{id,jdbcType=VARCHAR}, #{dcno,jdbcType=VARCHAR}, #{shipperId,jdbcType=DECIMAL}, 
      #{itemno,jdbcType=VARCHAR}, #{itemname,jdbcType=VARCHAR}, #{shortname,jdbcType=VARCHAR}, 
      #{spec,jdbcType=VARCHAR}, #{abccode,jdbcType=VARCHAR}, #{itemprice,jdbcType=DECIMAL}, 
      #{shiptype,jdbcType=CHAR}, #{itemtypeId,jdbcType=OTHER}, #{producearea,jdbcType=OTHER}, 
      #{manufacturerId,jdbcType=VARCHAR}, #{vendorId,jdbcType=DECIMAL}, #{baseuomId,jdbcType=VARCHAR}, 
      #{defaultuomId,jdbcType=VARCHAR}, #{storagecondition,jdbcType=VARCHAR}, #{islotctrl,jdbcType=DECIMAL}, 
      #{shelflife,jdbcType=DECIMAL}, #{shelflifetype,jdbcType=VARCHAR}, #{palletratio,jdbcType=DECIMAL}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createuser,jdbcType=VARCHAR}, #{modifytime,jdbcType=TIMESTAMP}, 
      #{modifyuser,jdbcType=VARCHAR}, #{rowstatus,jdbcType=DECIMAL}, #{catid,jdbcType=DECIMAL}, 
      #{bigboxBar,jdbcType=VARCHAR}, #{packBar,jdbcType=VARCHAR}, #{itemKind,jdbcType=CHAR}, 
      #{kind,jdbcType=CHAR}, #{hSize,jdbcType=DECIMAL}, #{tSize,jdbcType=DECIMAL}, #{jSize,jdbcType=DECIMAL}, 
      #{wSize,jdbcType=DECIMAL}, #{xSize,jdbcType=DECIMAL}, #{weight,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="false" parameterType="com.ztel.app.vo.sale.SaleitemVo" >
    insert into T_SALE_ITEM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="dcno != null" >
        DCNO,
      </if>
      <if test="shipperId != null" >
        SHIPPER_ID,
      </if>
      <if test="itemno != null" >
        ITEMNO,
      </if>
      <if test="itemname != null" >
        ITEMNAME,
      </if>
      <if test="shortname != null" >
        SHORTNAME,
      </if>
      <if test="spec != null" >
        SPEC,
      </if>
      <if test="abccode != null" >
        ABCCODE,
      </if>
      <if test="itemprice != null" >
        ITEMPRICE,
      </if>
      <if test="shiptype != null" >
        SHIPTYPE,
      </if>
      <if test="itemtypeId != null" >
        ITEMTYPE_ID,
      </if>
      <if test="producearea != null" >
        PRODUCEAREA,
      </if>
      <if test="manufacturerId != null" >
        MANUFACTURER_ID,
      </if>
      <if test="vendorId != null" >
        VENDOR_ID,
      </if>
      <if test="baseuomId != null" >
        BASEUOM_ID,
      </if>
      <if test="defaultuomId != null" >
        DEFAULTUOM_ID,
      </if>
      <if test="storagecondition != null" >
        STORAGECONDITION,
      </if>
      <if test="islotctrl != null" >
        ISLOTCTRL,
      </if>
      <if test="shelflife != null" >
        SHELFLIFE,
      </if>
      <if test="shelflifetype != null" >
        SHELFLIFETYPE,
      </if>
      <if test="palletratio != null" >
        PALLETRATIO,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="createuser != null" >
        CREATEUSER,
      </if>
      <if test="modifytime != null" >
        MODIFYTIME,
      </if>
      <if test="modifyuser != null" >
        MODIFYUSER,
      </if>
      <if test="rowstatus != null" >
        ROWSTATUS,
      </if>
      <if test="catid != null" >
        CATID,
      </if>
      <if test="bigboxBar != null" >
        BIGBOX_BAR,
      </if>
      <if test="packBar != null" >
        PACK_BAR,
      </if>
      <if test="itemKind != null" >
        ITEM_KIND,
      </if>
      <if test="kind != null" >
        KIND,
      </if>
      <if test="hSize != null" >
        H_SIZE,
      </if>
      <if test="tSize != null" >
        T_SIZE,
      </if>
      <if test="jSize != null" >
        J_SIZE,
      </if>
      <if test="wSize != null" >
        W_SIZE,
      </if>
      <if test="xSize != null" >
        X_SIZE,
      </if>
      <if test="weight != null" >
        WEIGHT,
      </if>
      <if test="baseuomName != null" >
        BASEUOM_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dcno != null" >
        #{dcno,jdbcType=VARCHAR},
      </if>
      <if test="shipperId != null" >
        #{shipperId,jdbcType=DECIMAL},
      </if>
      <if test="itemno != null" >
        #{itemno,jdbcType=VARCHAR},
      </if>
      <if test="itemname != null" >
        #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="shortname != null" >
        #{shortname,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="abccode != null" >
        #{abccode,jdbcType=VARCHAR},
      </if>
      <if test="itemprice != null" >
        #{itemprice,jdbcType=DECIMAL},
      </if>
      <if test="shiptype != null" >
        #{shiptype,jdbcType=CHAR},
      </if>
      <if test="itemtypeId != null" >
        #{itemtypeId,jdbcType=OTHER},
      </if>
      <if test="producearea != null" >
        #{producearea,jdbcType=OTHER},
      </if>
      <if test="manufacturerId != null" >
        #{manufacturerId,jdbcType=VARCHAR},
      </if>
      <if test="vendorId != null" >
        #{vendorId,jdbcType=DECIMAL},
      </if>
      <if test="baseuomId != null" >
        #{baseuomId,jdbcType=VARCHAR},
      </if>
      <if test="defaultuomId != null" >
        #{defaultuomId,jdbcType=VARCHAR},
      </if>
      <if test="storagecondition != null" >
        #{storagecondition,jdbcType=VARCHAR},
      </if>
      <if test="islotctrl != null" >
        #{islotctrl,jdbcType=DECIMAL},
      </if>
      <if test="shelflife != null" >
        #{shelflife,jdbcType=DECIMAL},
      </if>
      <if test="shelflifetype != null" >
        #{shelflifetype,jdbcType=VARCHAR},
      </if>
      <if test="palletratio != null" >
        #{palletratio,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyuser != null" >
        #{modifyuser,jdbcType=VARCHAR},
      </if>
      <if test="rowstatus != null" >
        #{rowstatus,jdbcType=DECIMAL},
      </if>
      <if test="catid != null" >
        #{catid,jdbcType=DECIMAL},
      </if>
      <if test="bigboxBar != null" >
        #{bigboxBar,jdbcType=VARCHAR},
      </if>
      <if test="packBar != null" >
        #{packBar,jdbcType=VARCHAR},
      </if>
      <if test="itemKind != null" >
        #{itemKind,jdbcType=CHAR},
      </if>
      <if test="kind != null" >
        #{kind,jdbcType=CHAR},
      </if>
      <if test="hSize != null" >
        #{hSize,jdbcType=DECIMAL},
      </if>
      <if test="tSize != null" >
        #{tSize,jdbcType=DECIMAL},
      </if>
      <if test="jSize != null" >
        #{jSize,jdbcType=DECIMAL},
      </if>
      <if test="wSize != null" >
        #{wSize,jdbcType=DECIMAL},
      </if>
      <if test="xSize != null" >
        #{xSize,jdbcType=DECIMAL},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="baseuomName != null" >
        #{baseuomName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztel.app.vo.sale.SaleitemVo" >
    update T_SALE_ITEM
    <set >
      <if test="dcno != null" >
        DCNO = #{dcno,jdbcType=VARCHAR},
      </if>
      <if test="shipperId != null" >
        SHIPPER_ID = #{shipperId,jdbcType=DECIMAL},
      </if>
      <if test="itemno != null" >
        ITEMNO = #{itemno,jdbcType=VARCHAR},
      </if>
      <if test="itemname != null" >
        ITEMNAME = #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="shortname != null" >
        SHORTNAME = #{shortname,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        SPEC = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="abccode != null" >
        ABCCODE = #{abccode,jdbcType=VARCHAR},
      </if>
      <if test="itemprice != null" >
        ITEMPRICE = #{itemprice,jdbcType=DECIMAL},
      </if>
      <if test="shiptype != null" >
        SHIPTYPE = #{shiptype,jdbcType=CHAR},
      </if>
      <if test="itemtypeId != null" >
        ITEMTYPE_ID = #{itemtypeId,jdbcType=OTHER},
      </if>
      <if test="producearea != null" >
        PRODUCEAREA = #{producearea,jdbcType=OTHER},
      </if>
      <if test="manufacturerId != null" >
        MANUFACTURER_ID = #{manufacturerId,jdbcType=VARCHAR},
      </if>
      <if test="vendorId != null" >
        VENDOR_ID = #{vendorId,jdbcType=DECIMAL},
      </if>
      <if test="baseuomId != null" >
        BASEUOM_ID = #{baseuomId,jdbcType=VARCHAR},
      </if>
      <if test="defaultuomId != null" >
        DEFAULTUOM_ID = #{defaultuomId,jdbcType=VARCHAR},
      </if>
      <if test="storagecondition != null" >
        STORAGECONDITION = #{storagecondition,jdbcType=VARCHAR},
      </if>
      <if test="islotctrl != null" >
        ISLOTCTRL = #{islotctrl,jdbcType=DECIMAL},
      </if>
      <if test="shelflife != null" >
        SHELFLIFE = #{shelflife,jdbcType=DECIMAL},
      </if>
      <if test="shelflifetype != null" >
        SHELFLIFETYPE = #{shelflifetype,jdbcType=VARCHAR},
      </if>
      <if test="palletratio != null" >
        PALLETRATIO = #{palletratio,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        CREATEUSER = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyuser != null" >
        MODIFYUSER = #{modifyuser,jdbcType=VARCHAR},
      </if>
      <if test="rowstatus != null" >
        ROWSTATUS = #{rowstatus,jdbcType=DECIMAL},
      </if>
      <if test="catid != null" >
        CATID = #{catid,jdbcType=DECIMAL},
      </if>
      <if test="bigboxBar != null" >
        BIGBOX_BAR = #{bigboxBar,jdbcType=VARCHAR},
      </if>
      <if test="packBar != null" >
        PACK_BAR = #{packBar,jdbcType=VARCHAR},
      </if>
      <if test="itemKind != null" >
        ITEM_KIND = #{itemKind,jdbcType=CHAR},
      </if>
      <if test="kind != null" >
        KIND = #{kind,jdbcType=CHAR},
      </if>
      <if test="hSize != null" >
        H_SIZE = #{hSize,jdbcType=DECIMAL},
      </if>
      <if test="tSize != null" >
        T_SIZE = #{tSize,jdbcType=DECIMAL},
      </if>
      <if test="jSize != null" >
        J_SIZE = #{jSize,jdbcType=DECIMAL},
      </if>
      <if test="wSize != null" >
        W_SIZE = #{wSize,jdbcType=DECIMAL},
      </if>
      <if test="xSize != null" >
        X_SIZE = #{xSize,jdbcType=DECIMAL},
      </if>
      <if test="weight != null" >
        WEIGHT = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="baseuomName != null" >
        BASEUOM_NAME = #{baseuomName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztel.app.vo.sale.SaleitemVo" >
    update T_SALE_ITEM
    set DCNO = #{dcno,jdbcType=VARCHAR},
      SHIPPER_ID = #{shipperId,jdbcType=DECIMAL},
      ITEMNO = #{itemno,jdbcType=VARCHAR},
      ITEMNAME = #{itemname,jdbcType=VARCHAR},
      SHORTNAME = #{shortname,jdbcType=VARCHAR},
      SPEC = #{spec,jdbcType=VARCHAR},
      ABCCODE = #{abccode,jdbcType=VARCHAR},
      ITEMPRICE = #{itemprice,jdbcType=DECIMAL},
      SHIPTYPE = #{shiptype,jdbcType=CHAR},
      ITEMTYPE_ID = #{itemtypeId,jdbcType=OTHER},
      PRODUCEAREA = #{producearea,jdbcType=OTHER},
      MANUFACTURER_ID = #{manufacturerId,jdbcType=VARCHAR},
      VENDOR_ID = #{vendorId,jdbcType=DECIMAL},
      BASEUOM_ID = #{baseuomId,jdbcType=VARCHAR},
      DEFAULTUOM_ID = #{defaultuomId,jdbcType=VARCHAR},
      STORAGECONDITION = #{storagecondition,jdbcType=VARCHAR},
      ISLOTCTRL = #{islotctrl,jdbcType=DECIMAL},
      SHELFLIFE = #{shelflife,jdbcType=DECIMAL},
      SHELFLIFETYPE = #{shelflifetype,jdbcType=VARCHAR},
      PALLETRATIO = #{palletratio,jdbcType=DECIMAL},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      CREATEUSER = #{createuser,jdbcType=VARCHAR},
      MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP},
      MODIFYUSER = #{modifyuser,jdbcType=VARCHAR},
      ROWSTATUS = #{rowstatus,jdbcType=DECIMAL},
      CATID = #{catid,jdbcType=DECIMAL},
      BIGBOX_BAR = #{bigboxBar,jdbcType=VARCHAR},
      PACK_BAR = #{packBar,jdbcType=VARCHAR},
      ITEM_KIND = #{itemKind,jdbcType=CHAR},
      KIND = #{kind,jdbcType=CHAR},
      H_SIZE = #{hSize,jdbcType=DECIMAL},
      T_SIZE = #{tSize,jdbcType=DECIMAL},
      J_SIZE = #{jSize,jdbcType=DECIMAL},
      W_SIZE = #{wSize,jdbcType=DECIMAL},
      X_SIZE = #{xSize,jdbcType=DECIMAL},
      WEIGHT = #{weight,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>